<%- include('partials/_header.ejs') %>

<h1>Community News</h1>

<div class="news-post">
    <a href="/news/<%= post._id %>"><h2><%= post.title %></h2></a>
    <p><%= post.content %></p>
    <div class="actions">
        <a href="/news/edit/<%= post._id %>" class="button-edit">Edit</a>
        <form action="/news/<%= post._id %>?_method=DELETE" method="POST" style="display: inline;">
            <button type="submit" class="button-delete">Delete</button>
        </form>
    </div>
</div>
        <% }); %>
    <% } else { %>
        <p>There are no news posts yet. Create a new one!</p>
    <% } %>
</div>

<%- include('partials/_footer.ejs') %>